{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<h1>{{ body }}</h1>
<div>
<h2>Some item for sale</h2>
<img src="{% static 'generic.jpg' %}" height="200" width="200">
  <form action="" method="POST">{% csrf_token %}
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_3PVFnuy5PW0Rw8WZU4rXt5xX"
      data-amount="{{ amount }}"
      data-name="Demo Site"
      data-description="2 widgets ($20.00)"
      data-image="/128x128.png"
      data-locale="auto">
    </script>
  </form>
</div>
{% endblock %}
