{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="James Warren">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <title>Project Rainmaker</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'shop' %}">Shop</a></li>
          <li><a href="{% url 'cart' %}">My Cart</a></li>
        </ul>
      </nav>
    </header>
{% block content %}
{% endblock %}
  </body>
</html>
